<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- ... -->
  
  <system.diagnostics>
    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="logFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\SampleProgram.log" traceOutputOptions="DateTime"  />
      <add name="newFileListener" type="SampleProgram.NewFileTraceListener, SampleProgram"  initializeData="c:\temp\SampleProgram.log" traceOutputOptions="DateTime" />
	  <add name="dailyTraceListener" type="SampleProgram.DailyTraceListener, SampleProgram"  initializeData="c:\temp\SampleProgram.log" />
	  <add name="machineNamedFileListener" type="SampleProgram.MachineNamedFileListener, SampleProgram"  initializeData="c:\temp\SampleProgram.log" />
    </sharedListeners>
    <sources>
      <source name="SampleProgram" switchValue="Information" >
        <listeners>
          <remove name="Default" />
          <add name="consoleListener" />
          <add name="logFileListener" />
          <add name="newFileListener" />
		  <add name="dailyTraceListener" />
		  <add name="machineNamedFileListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <!-- ... -->
  
  <system.diagnostics>
    <sharedListeners>
	  <add name="machineNamedFileListener" type="SampleProgram.MachineNamedFileListener, SampleProgram"  initializeData="c:\temp\SampleProgram.log" />
    </sharedListeners>
    <sources>
      <source name="SampleProgram" switchValue="Information" >
        <listeners>
          <remove name="Default" />
		  <add name="machineNamedFileListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>


</configuration>
