<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- ... -->
  
  <system.diagnostics>
    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      <add name="logFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\SampleProgram.log" traceOutputOptions="DateTime"  />
    </sharedListeners>
    <sources>
      <source name="SampleProgram" switchValue="Information" >
        <listeners>
          <!--<remove name="Default" />-->
          <add name="consoleListener" />
          <add name="logFileListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <!-- ... -->
  
</configuration>
